.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #9999ff; 
}

.main-content {
  text-align: center;
  border: 2px solid #0000ff; 
  border-radius: 10px;
  padding: 20px;
  background-color: #e6e6ff; 
  box-shadow: 5px 5px 5px #0000cc;
}

h1 {
  color: #000066; 
  font-size: 37px;
}

.password {
  color: #1a1a00; 
  border: 2px solid #000033; /* Border around the password */
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
